.button {
  color: rgb(15, 13, 17);
  background-color: rgb(216, 209, 202);
  border-radius: 8px;
  border-color: rgb(133, 147, 158);
  padding: 15px;
  margin: 5px;
  font-weight: bold;
  text-transform: capitalize;
}
